<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Farouk DOUH</h1>
        <h3>Software Engineer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/farouk-douh-8a0206220/" target="_blank" class="">
            <img src="../../assets/likedin.png" width="24" height="24" class="rounded-circle me-2" alt="">
            
        </a>
        <!-- <a href="//facebook.com" target="_blank" class="">
            <img src="../../assets/fcbk.png" width="24" height="24" class="rounded-circle me-2" alt="">
            
        </a> -->
        <a href="https://github.com/Faroukdouh" target="_blank" class="">
            <img src="../../assets/github.png" width="24" height="24" class="rounded-circle me-2" alt="">
            
        </a>
    </div>
</div>
