.tags-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de revenir à la ligne */
    gap: 8px; /* Espace entre les éléments */
    width: 100%; /* Assure que le conteneur prend toute la largeur disponible */
    box-sizing: border-box; /* Inclut padding et border dans la taille totale */
    overflow: hidden; /* Empêche les éléments de dépasser le conteneur */
  }
  
  .tag {
    white-space: nowrap; /* Empêche que le contenu des tags ne soit coupé en plusieurs lignes */

    padding: 5 10px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
  }

  .test{
    background: transparent;
    color: white;
    padding: 8px;
    border: 1px solid #81c784;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100px;
    margin: 10px;
    margin-top: 0px;
}

.test:hover {
    background-color: #81c784;
    color: white;
}