<div class="contact-container">
    <p>I can be reached at the following email: <b class="highlight-text">farouk.douh&#64;gmail.com</b></p>
    <p>And this is my number: <b class="highlight-text">(+213) 549314899</b></p>
    <p>Feel free to connect with me on any of the following platforms:</p>

    <div class="social-links">
        <a href="https://www.linkedin.com/in/farouk-douh-8a0206220/" target="_blank" class="social-link">
            <img src="../../assets/link.png" alt="LinkedIn" class="social-icon">
            <span>LinkedIn</span>
        </a>
        <a href="https://github.com/Faroukdouh" target="_blank" class="social-link">
            <img src="../../assets/git.png" alt="Github" class="social-icon">
            <span>Github</span>
        </a>
    </div>
</div>
