<div class="container mt-3">
    <div class="mb-2">
        <div class="d-flex justify-content-center">
            <button class="test" (click)="isCollapsed = !isCollapsed">Filter</button>
            <button class="test2" (click)="resetFilters()" [hidden]="!faltering">Reset</button>
        </div>

        <div [collapse]="isCollapsed" [isAnimated]="true">
            <div class="card shadow text-center mb-3" style="position: relative; background-color: rgb(14, 14, 14); border-radius: 10px; box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); color: white;">
                <form>
                    <div class="row mx-0">
                        <div class="col">
                            <small style="color: #81c784; " ><b>Languages:</b></small>
                            <div class="form-group">
                                <div *ngFor="let tag of getTagsByCatg('languages')">
                                    <div class="form-check">
                                        <input 
                                            type="checkbox" 
                                            class="form-check-input position-static me-2"
                                            [(ngModel)]="tag.filtering"
                                            (change)="filter()"
                                            name="{{tag}}">
                                        <label class="form-check-label small">{{tag}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <small style="color: #81c784; " ><b>Frameworks:</b></small>
                            <div class="form-group">
                                <div *ngFor="let tag of getTagsByCatg('frameworks')">
                                    <div class="form-check">
                                        <input 
                                            type="checkbox" 
                                            class="form-check-input position-static me-2"
                                            [(ngModel)]="tag.filtering"
                                            (change)="filter()"
                                            name="{{tag}}">
                                        <label class="form-check-label small">{{tag}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <small style="color: #81c784; " ><b>Tools:</b></small>
                            <div class="form-group">
                                <div *ngFor="let tag of getTagsByCatg('tools')">
                                    <div class="form-check">
                                        <input 
                                            type="checkbox" 
                                            class="form-check-input position-static me-2"
                                            [(ngModel)]="tag.filtering"
                                            (change)="filter()"
                                            name="{{tag}}">
                                        <label class="form-check-label small">{{tag}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <small style="color: #81c784; " ><b>Methodologies:</b></small>
                            <div class="form-group">
                                <div *ngFor="let tag of getTagsByCatg('methodologies')">
                                    <div class="form-check">
                                        <input 
                                            type="checkbox" 
                                            class="form-check-input position-static me-2"
                                            [(ngModel)]="tag.filtering"
                                            (change)="filter()"
                                            name="{{tag}}">
                                        <label class="form-check-label small">{{tag}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <small style="color: #81c784; " ><b>Databases:</b></small>
                            <div class="form-group">
                                <div *ngFor="let tag of getTagsByCatg('databases')">
                                    <div class="form-check">
                                        <input 
                                            type="checkbox" 
                                            class="form-check-input position-static me-2"
                                            [(ngModel)]="tag.filtering"
                                            (change)="filter()"
                                            name="{{tag}}">
                                        <label class="form-check-label small">{{tag}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <small style="color: #81c784; " ><b>Security:</b></small>
                            <div class="form-group">
                                <div *ngFor="let tag of getTagsByCatg('security')">
                                    <div class="form-check">
                                        <input 
                                            type="checkbox" 
                                            class="form-check-input position-static me-2"
                                            [(ngModel)]="tag.filtering"
                                            (change)="filter()"
                                            name="{{tag}}">
                                        <label class="form-check-label small">{{tag}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4">
            <app-project-card [project]="project"></app-project-card>
        </div>
    </div> -->
    <div class="row justify-content-center">
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4 d-flex justify-content-center">
            <app-project-card [project]="project"></app-project-card>
        </div>
    </div>
    
</div>
