<div class="conatiner text-center">
    <button (click)="downloadFile()" class="test">Download PDF Resume</button>

    <div class="d-flex justify-content-center">
        <div class="pb-2" style="width: 90%;">
            <accordion [isAnimated]="true" class="shadow">
                <accordion-group [(isOpen)]="isWorkExperoenceOpen">

                    <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                        <div style="visibility: hidden;">></div>
                        <div class="btn">Work Experience</div>
                        <div style="width: 10.95px;">
                            <div *ngIf="!isWorkExperoenceOpen" style="color: white;">></div>
                            <div *ngIf="isWorkExperoenceOpen" style="color: white;">v</div>
                        </div>
                    </button>

                    <div style="text-align: left;">
                        <h2 class="mb-0">Information Systems Engineer.</h2>
                        <h5>EADN - Entreprise d'Appui au Developpement Numérique (12/2022 - Today)
                        </h5>
                        <p>As a member of a team of six engineers, including a project manager, I contributed to the
                            design and implementation of two information systems for the Ministry of Tourism and
                            Handicrafts, a client of our company, targeting both sectors of the ministry.</p>
                        <p><u>Realization :</u></p>
                        <ul>
                            <li>Analysis and clarification of inputs.</li>
                            <li>Participation in drafting the specifications document.</li>
                            <li>Writing detailed functional specifications for the system.</li>
                            <li>Designing the database using the UML modeling tool.</li>
                            <li>Implementing the database in a PostgreSQL DBMS.</li>
                            <li>Developing the business application using Java 17 technology, EJB3, JSF2 frameworks, and
                                the EclipseLink ORM.</li>
                            <li>Creating RESTful web services.</li>
                            <li>Version control management using Git.</li>
                            <li>Project and dependency management using Maven.</li>
                            <li>Clarifying the project backlog within the Scrum methodology framework.</li>
                        </ul>
                        <p><u>Tools and Technologies :</u></p>
                        <ul>
                            <li>Java 17, JEE 8, JSF 2, HTML 5 /CSS 3, EclipseLink, API RESTful, Payara, Liquibase,
                                PostgreSQL, Keycloak, Maven, Git.</li>
                        </ul>
                        <p><u>Working Methodology :</u></p>
                        <ul>
                            <li>Scrum Agile.</li>
                        </ul>
                    </div>
                    <hr>
                    <div style="text-align: left;">
                        <h2 class="mb-0">Master's internship</h2>
                        <h5 >ELIT - EL Djazair Information Technology 01/2022 - 06/2022</h5>
                        <p>As a final-year Master's student, I completed an internship at ELIT. As part of a two-person
                            team, I contributed to the design and implementation of a GMAO (Gestion de
                            Maintenance Assistée par Ordinateur) in connected/disconnected mode with data
                            synchronization.</p>
                        <p><u>Realization :</u></p>
                        <ul>
                            <li>Comparative study of similar applications.</li>
                            <li>UML design of the system using the StarUML tool.</li>
                            <li>Drafting the specifications document using LaTeX.</li>
                            <li>Developing the application using Java 8 technology, Spring Boot, and JavaFX.</li>
                            <li>Version control management of the project using Git.</li>
                        </ul>
                        <p><u>Tools and Technologies :</u></p>
                        <ul>
                            <li>Java 8, Spring Boot, JavaFx, API RESTful, Maven, MySQL, Git, UML</li>
                        </ul>
                    </div>
                    <hr>
                    <div style="text-align: left;">
                        <h2 class="mb-0">Final year project (Bachelor's degree).</h2>
                        <h5 >Saad Dahlab University of Blida 03/2020 - 06/2020</h5>
                        <p>As a final-year Bachelor's student and a member of a two-person team, I participated in the
                            design and implementation of a web application for managing final year projects (P.F.E) for
                            Master's students within the computer science department.</p>
                        <p><u>Realization :</u></p>
                        <ul>
                            <li>UML design of the system using the StarUML tool.</li>
                            <li>Drafting the specifications document using LaTeX.</li>
                            <li>Developing the application.</li>
                        </ul>
                        <p><u>Tools and Technologies :</u></p>
                        <ul>
                            <li>PHP, HTML 5 /CSS 3, Bootstrap, MySQL, UML</li>
                        </ul>
                    </div>

                </accordion-group>

                <accordion-group [(isOpen)]="isEducationOpen">

                    <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                        <div style="visibility: hidden;">></div>
                        <div class="btn">Education</div>
                        <div style="width: 10.95px;">
                            <div *ngIf="!isEducationOpen" style="color: white;">></div>
                            <div *ngIf="isEducationOpen" style="color: white;">v</div>
                        </div>
                    </button>

                    <div style="text-align: left;">
                        <h3 class="mb-0">Master's Degree in Software Engineering</h3>
                        <h5 >Saad Dahlab University of Blida 09/2020 - 07/2022</h5>
                    </div>
                    <hr>
                    <div style="text-align: left;">
                        <h3 class="mb-0">Bachelor's Degree in Information Systems and Software Engineering.</h3>
                        <h5 >Saad Dahlab University of Blida 09/2017 - 07/2020</h5>
                    </div>
                    <hr>
                    <div style="text-align: left;">
                        <h3 class="mb-0">Baccalaureate in Experimental Sciences</h3>
                        <h5 >Rabah Bitat high school 09/2014 - 06/2017</h5>
                    </div>

                </accordion-group>

                <accordion-group [(isOpen)]="isSkillsOpen">

                    <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                        <div style="visibility: hidden;">></div>
                        <div class="btn">Skills</div>
                        <div style="width: 10.95px;">
                            <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                            <div *ngIf="isSkillsOpen" style="color: white;">v</div>
                        </div>
                    </button>

                    <div style="text-align: left;">
                        <h4 class="mb-0">Programming Languages :</h4>
                        
                        <div class="d-flex flex-warp justify-content-center">
                            <div class="tags-container">
                                <div *ngFor="let tag of getTagsByCatg('languages')" class="tag"
                                    [style.background-color]="tag.color">
                                    {{tag}}
                                </div>
                            </div>
                        </div>
                        <br>

                        <h4 class="mb-0">Frameworks :</h4>
                        
                        <div class="d-flex flex-warp justify-content-center">
                            <div class="tags-container">
                                <div *ngFor="let tag of getTagsByCatg('frameworks')" class="tag"
                                    [style.background-color]="tag.color">
                                    {{tag}}
                                </div>
                            </div>
                        </div>
                        <br>

                        <h4 class="mb-0">Tools :</h4>
                        
                        <div class="d-flex flex-warp justify-content-center">
                            <div class="tags-container">
                                <div *ngFor="let tag of getTagsByCatg('tools')" class="tag"
                                    [style.background-color]="tag.color">
                                    {{tag}}
                                </div>
                            </div>
                        </div>
                        <br>

                        <h4 class="mb-0">Methodologies :</h4>
                        
                        <div class="d-flex flex-warp justify-content-center">
                            <div class="tags-container">
                                <div *ngFor="let tag of getTagsByCatg('methodologies')" class="tag"
                                    [style.background-color]="tag.color">
                                    {{tag}}
                                </div>
                            </div>
                        </div>
                        <br>

                        <h4 class="mb-0">Databases :</h4>
                        
                        <div class="d-flex flex-warp justify-content-center">
                            <div class="tags-container">
                                <div *ngFor="let tag of getTagsByCatg('databases')" class="tag"
                                    [style.background-color]="tag.color">
                                    {{tag}}
                                </div>
                            </div>
                        </div>
                        <br>

                        <h4 class="mb-0">Security :</h4>
                        
                        <div class="d-flex flex-warp justify-content-center">
                            <div class="tags-container">
                                <div *ngFor="let tag of getTagsByCatg('security')" class="tag"
                                    [style.background-color]="tag.color">
                                    {{tag}}
                                </div>
                            </div>
                        </div>
                         
                    </div>

                </accordion-group>
            </accordion>
        </div>
    </div>
</div>