/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e9ecef;
    margin: 0; 
    padding: 0;
  }

  /* body {
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0; 
    padding: 0;
  } */

.container {
    max-width: 1140px;;
}

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}