<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About me</h2>  
                <img src="../../assets/farouk.png" alt="Profile picture" width="256" height="256" class="rounded-circle">
                <p style="font-size: 19px;">Software engineer with two years of experience in the field. Passionate about the IT domain, especially new development technologies. I am responsible, hardworking, rigorous, and always see tasks through to the end.</p>
            </div>
            <div>
                <ul>
                    <li><b>Name : </b>Farouk Douh</li>
                    <li><b>Birthday : </b>06 november 1999</li>
                    <li><b>family situation : </b>Single</li>
                    <li><b>Languages : </b>Arabic, French, English</li>
                    
                </ul>
            </div>
        </div>
        <!-- Featured project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject?.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject?.pictures">
                    <slide ><img src="{{picture}}" alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>

            <p class="mt-2" >{{featuredProject?.summary}}</p>
            <p class="mt-2" >{{featuredProject?.description}}</p>
            <p>Visit the Portfolio section to learn more!</p>
        </div>
    </div>
</div>
