<div class="container mt-3">
    <div class="row">
        <!-- About Me Section -->
        <div class="col-lg m-2 about-section">
            <div class="text-center">
                <h2 class="my-4">About Me</h2>  
                <img src="../../assets/ff.png" alt="Profile picture" width="256" height="256" class="rounded-circle">
                <p class="mt-3 about-text">I am a software engineer and fullstack developer with two years of experience in the field. Passionate about the IT domain, especially new development technologies. I am responsible, hardworking, rigorous, and always see tasks through to the end.</p>
            </div>
            <div class="mt-3">
                <ul class="list-unstyled personal-info">
                    <li><b>Name:</b> Farouk Douh</li>
                    <li><b>Birthday:</b> 06 November 1999</li>
                    <li><b>Family Situation:</b> Single</li>
                    <li><b>Languages:</b> Arabic, French, English</li>
                </ul>
            </div>
        </div>

        <!-- Featured Project Section -->
        <div class="col-lg m-2 project-section">
            <div class="text-center">
                <h2 class="my-4">Featured Project</h2>
                <h4>{{featuredProject?.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject?.pictures">
                    <slide><img src="{{picture}}" alt="slide" class="carousel-img"></slide>
                </div>
            </carousel>

            <p class="project-summary mt-2">{{featuredProject?.summary}}</p>
            <p class="project-description mt-2">{{featuredProject?.description}}</p>
            <br>
            <p class="visit-section mt-3">Visit the Portfolio section to learn more!</p>
        </div>
    </div>
</div>
